<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Term</title>
</head>
<body>
  <a href="/">Home page</a>
  <a href="/term">All Terms</a>
  <div>
  <form action="/term" method="POST">
  <label for="name">
    Name: <input type="text" name="name">
  </label>
  <label for="definition">
    definition: <input type="text" definition="definition">
  </label>
  </form>
</div>
</body>
</html>